div.daybox:hover {
    box-shadow: 3px 3px 8px grey;
border: 1px solid lightblue;
    }
div.db_left {
    width: auto; /* 45% */
    float: left;
border: 0px solid lightblue;
    }
div.db_right {
    width: auto; /* 55% */
    padding-left: 10px; /* */
    padding-right: 10px; /* */
    float: left;
    clear: right;
border: 0px solid lightblue;
    }